/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 40px;
}

/* Navigation Bar */
#navbar{
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}
/* Navigation Bar : Logo and Image*/
#logo{
    margin: 8px 30px;
    /* filter: invert(100%); */
}
#logo img{
    margin: 10px 10px;
    height: 59px;
}

/* Navigation Bar : List Styling*/

#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.4rem; 
    font-family: 'Baloo Bhai 2', cursive;

}

#navbar ul li a{
    display: block;
    padding: 4px 25px;
    text-decoration: none;
    border-radius: 20px;
    color: black;
}

a:hover{
    color: white;
    background-color: maroon;
}

#navbar ul li a:hover{
    color: white;
    background-color: black;
}

/* Home Styling*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 580px;
    align-items: center;
    margin: 3px 200px;

}

#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../img/backgrounds/back5.jpg')no-repeat center center/cover;
    height: 672px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home h1{
    color: black ;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color:white;
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}


/* Services Styling */

/* #services-container{
    content: "";
    background: url('../img/backgrounds/back10.png');
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
} */
#services{
    margin: 20px 40px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    padding: 20px 40px;
    margin: 6px;
    border-radius: 23px;
    background-color: #f0f0f0;
}
#services .box img{
    height: 150px;
    margin: 3px;
    display: block;
    margin: auto;

}
#services .box p{
    font-family: 'Bree Serif', serif;
font-size: 1rem;
}

/* Client Section */
#client-section{
    position: relative;
}
#client-section::before{
  content: "";
  background: url('../img/backgrounds/back10.png');
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients .client-items{
  padding: 34px;
}
#clients img{
height: 120px;
}

/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/backgrounds/back3.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
}
#contact-box form{
    width: 40%;
   
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Footer */
footer{
    background: black;
    color: white;
    padding: 6px 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 20px;
    font-family: 'Bree Serif', serif;
    
}
.h-secondary{
    font-size: 2.3rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.btn{
    font-size: 1.3rem;
    margin: 20px;
    padding: 6px 20px;
    color: white;
    text-decoration: none;
    background-color: brown;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}

/* .btn :active{
    background-color: pink;
}

.btn :hover{
    color: black;
    background-color: orange;
    padding: 60px;

} */
.text-center{
text-align: center;
}

#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
}
#searchbar input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 7px;
    text-align: center;
}

#submitme{
    font-size: 1.3rem;
    margin: auto;
    margin-top: 10px;
    padding: 3px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}
#fooditems{
    background-color: rgb(248, 234, 234);
}
#fooditems #services .btn{
    font-size: 1.3rem;
    margin: 20px;
    margin-left: 10px;
    padding: 6px 20px;
    color: white;
    text-decoration: none;
    background-color: brown;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;
}
#payment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
    width: 700px;

}
